* {
    main-bg:            #181D2DE6;
    main-fg:            #CD758A;
    main-br:            #665679;
    main-ex:            #566083;
    select-bg:          #CD758A;
    select-fg:          #181D2D;
}
