* {
    main-bg:            #1F1E2EE6;
    main-fg:            #D7CCDC;
    main-br:            #8C7686;
    main-ex:            #525061;
    select-bg:          #D7CCDC;
    select-fg:          #1F1E2E;
}
