* {
    main-bg:            #08151EE6;
    main-fg:            #B88965;
    main-br:            #96795C;
    main-ex:            #3F5F63;
    select-bg:          #B88965;
    select-fg:          #08151E;
}
