* {
    main-bg:            #1E1E2EE6;
    main-fg:            #B6BEF2;
    main-br:            #707DA0;
    main-ex:            #43455E;
    select-bg:          #B6BEF2;
    select-fg:          #1E1E2E;
}
