* {
    main-bg:            #511827E6;
    main-fg:            #FFA7C0;
    main-br:            #E787A2;
    main-ex:            #C34768;
    select-bg:          #FFA7C0;
    select-fg:          #511827;
}
