*
!.gitignore

!kdeglobals
!dophinrc

!BetterDiscord/
!discord/
!dunst/
!git/
!gtk-3.0/
!hypr/
!keepassxc/
!kitty/
!Kvantum/
!neofetch/
!nvim/
!nwg-look/
!obs-studio/
!qt5ct/
!rofi/
!swaylock/
!swww/
!tmux/
!waybar/
!wlogout/
!xsettingsd/
!fontconfig/
